@import 'src/scss/variables.scss';

.teamContainer {
  position: relative;
  display: flex;
  user-select: none;
}

.optionContainer {
  display: flex;
  align-items: center;
  height: 45px;
  border-top: 1px solid $grey1;
  color: $white;
}

.optionImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: $white;
}

.optionImage {
  height: 35px;
}

.optionTitle {
  margin-left: 10px;
  padding: 0;
  color: $white;
  font-family: 'spurs';
  font-size: 22px;
  letter-spacing: 0.02em;
}

.borderTriangle {
  position: absolute;
  left: 100%;
  border-width: 45px 16px 0 0;
  border-style: solid;
  border-color: $grey1 transparent transparent;
  z-index: 1;
}

.hasNoBorder {
  border-top: none;
}

// Media Queries

@media all and (max-width: 1074px) {
  .teamContainer {
    max-width: 280px;
  }

  .optionTitle {
    font-size: 1.2rem;
    margin-top: 0.2rem;
  }

  .optionImgContainer {
    width: 2rem;
    height: auto;
  }
}

@media all and (max-width: 900px) {
  .teamContainer {
    max-width: 260px;
  }
  .optionTitle {
    font-size: 1.1rem;
    margin-top: 0.3rem;
  }

  .optionImgContainer {
    width: 1.7rem;
    height: auto;
  }
}

@media all and (max-width: 838px) {
  .teamContainer {
    max-width: 230px;
  }
  .optionContainer {
    max-width: 230px;
    height: 32px;
  }

  .optionImgContainer {
    width: 20px;
    height: 20px;
    margin-left: 6px;
  }

  .optionTitle {
    font-size: 1rem;
  }

  .borderTriangle {
    border-width: 32px 11px 0 0;
  }
}

@media all and (max-width: 770px) {
  .teamContainer {
    max-width: 230px;
  }
  .optionContainer {
    max-width: 230px;
    height: 32px;
  }

  .optionImgContainer {
    width: 20px;
    height: 20px;
    margin-left: 6px;
  }

  .optionTitle {
    font-size: 1rem;
  }

  .borderTriangle {
    border-width: 32px 11px 0 0;
  }
}
