@import 'src/scss/variables.scss';

.container {
  position: relative;
  display: flex;
  flex: 1.5;
  justify-content: center;
  align-items: center;
  background-color: $white;
  font-family: Avenir;
  font-size: 16px;
  text-transform: uppercase;

  .navLink {
    padding-top: 7px;
    border-bottom: 4px solid transparent;
  }

  a {
    display: inline-block;
    height: calc(100% - 14px);
    padding: 15px 20px 0;
    color: $grey5;
    text-decoration: none;

    &:hover {
      color: $grey-three;
    }
  }
}

@media all and (max-width: 1074px) {
  .container {
    font-size: 0.9rem;

    .navLink {
      padding-top: 8px;
    }
  }
}

@media all and (max-width: 838px) {
  .container {
    font-size: 0.8rem;

    a {
      padding-top: 6px;
    }

    .navLink {
      padding-top: 4px;
      border-bottom: 2px solid transparent;
    }
  }
}

@media all and (max-width: 770px) {
  a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
