@import 'src/scss/variables.scss';

.container {
  position: relative;
  min-width: 440px;
  min-height: calc(100vh - 100px);
  height: calc(100vh - 90px);
  border-left: 1px solid $grey1;
  padding: 0 5px 5px 5px;
  overflow: auto;
  background-color: $white;
  font-family: arial;
}

.scrollHidden {
  overflow: hidden;
}

@media all and (max-width: 1224px) {
  .container {
    min-width: 320px;
  }
}

@media all and (max-width: 960px) {
  .container {
    height: calc(100vh - 77px);
  }
}

@media all and (min-width: 521px) and (max-width: 634px) {
  .container {
    min-width: 50%;
  }
}
