@import 'src/scss/variables.scss';

.container {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 45px;
  background-color: $white;
}

// .fuck {
//   border: 3px solid pink;
// }

@media all and (min-width: 521px) and (max-width: 736px) {
  .container {
    display: none;
  }
}
